@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding: 0px 0px 50px 0px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
}

.skills {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.skillImageContainer {
  /* background-color: var(--color-secondary); */
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.skillImageContainer img {
  width: 75px;
}

/* .skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
} */

.history {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 25% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.historyItem:hover {
  background-size: 100% 100%;
}

.historyItem img {
  width: 60px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 10px;
  list-style-position: inside;
  font-size: 20px;
  list-style-type: disc;
  margin-left: 15px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
